<!-- The core Firebase JS SDK is always required and must be listed first -->
<script src="https://www.gstatic.com/firebasejs/6.5.0/firebase-app.js"></script>

<!-- TODO: Add SDKs for Firebase products that you want to use
     https://firebase.google.com/docs/web/setup#config-web-app -->

<script>
  // Your web app's Firebase configuration
  var firebaseConfig = {
    apiKey: "AIzaSyA5ink_3ba1XqHu1y01QWMxe_OcXx7mTsI",
    authDomain: "vue-firebase-93431.firebaseapp.com",
    databaseURL: "https://vue-firebase-93431.firebaseio.com",
    projectId: "vue-firebase-93431",
    storageBucket: "vue-firebase-93431.appspot.com",
    messagingSenderId: "417547862567",
    appId: "1:417547862567:web:ae443551efb01058314402",
  };
  // Initialize Firebase
  firebase.initializeApp(firebaseConfig);
</script>